<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.trang.dynamic.mapper.BaseCodeMapper">
    <resultMap id="BaseResultMap" type="com.github.trang.dynamic.domain.model.BaseCode">
        <!-- WARNING - @mbg.generated -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="code_type" jdbcType="VARCHAR" property="codeType"/>
        <result column="parent_code" jdbcType="VARCHAR" property="parentCode"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="code_value" jdbcType="VARCHAR" property="codeValue"/>
        <result column="code_sort" jdbcType="INTEGER" property="codeSort"/>
        <result column="office_address" jdbcType="INTEGER" property="officeAddress"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="BaseColumns">
        <!-- WARNING - @mbg.generated -->
        id, code_type, parent_code, code, code_value, code_sort, office_address, remark, create_time,
        update_time
    </sql>
</mapper>