<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <springProfile name="default">
        <logger name="org.mybatis" level="INFO"/>
        <logger name="org.springframework.core.env" level="INFO"/>
        <logger name="org.springframework.jdbc" level="DEBUG"/>
        <logger name="org.springframework.web" level="DEBUG"/>
        <logger name="org.springframework.cache" level="DEBUG"/>
        <logger name="org.springframework.expression" level="DEBUG"/>
        <logger name="com.github.trang" level="DEBUG"/>

        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
                <charset>UTF8</charset>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

</configuration>